<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Production Chart</title>
    <script src="/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@^2"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@^1"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/bootstrap/bstyle.css" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Something</h1>
        <div class="row">
            <button id="input">Test Button</button>
            <script>
                var socket = io();
                var button = document.getElementById('input');

                button.addEventListener('click', function() {
                    socket.emit('message', 'global');
                });

                socket.on('database_change', function(data) {
                    updateMachineList(data);
                    myChart.data.labels = data.xData;
                    myChart.data.datasets[0].data = data.yData;
                    myChart.update();
                });
            </script>
            <div class="col-md-4">
              <div id="machine-container" class="list-group">
                  <script>
                    function updateMachineList(data){
                        const listGroupContainer = document.getElementById('machine-container');
                        while (listGroupContainer.firstChild) {
                            listGroupContainer.removeChild(listGroupContainer.firstChild);
                        }
                        for (let i = 0; i < data.machineid.length; i++) {
                            const buttonElement = document.createElement('a');
                            buttonElement.href = '#';
                            buttonElement.className = 'list-group-item list-group-item-action';
                            buttonElement.textContent = `Machine ${data.machineid[i]} - ${data.machinestate[i]}`;
                            buttonElement.addEventListener('click', function(event) {
                                socket.emit('message', data.machineid[i]);
                            });
                            listGroupContainer.appendChild(buttonElement);
                            };
                    };
                  </script>
              </div>
            </div>
            <div class="col-md-8">
                <canvas id="myChart" width="200" height="200"></canvas>
                <script>
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var chartConfig = {
                        type: 'line',
                        data: {
                            labels: [],
                            datasets: [{
                                label: 'Production',
                                data: [],
                                fill: false,
                                borderColor: 'rgb(75, 192, 192)',
                                tension: 0
                            }]
                        },
                        options: {
                            scales: {
                                x: {
                                    type: 'time',
                                    time: {
                                    unit: 'hour'
                                    }
                                },
                                y: {
                                    beginAtZero: true
                                }
                            }
                        },
                        plugins: {
                            adapter: {
                                date: {
                                    locale: 'es', // Opcional: puedes configurar la localización
                            },
                            },
                        },
                    };
                    var myChart = new Chart(ctx, chartConfig );
                </script>
            </div>
        </div>
    </div>
</body>
</html>