<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Player</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-b2fmYefV4gFvKih3CUJ/g5iWzGYY81RZmP6BTzQ7rGw7ffgtz5GqwpnFMN/hV+mI" crossorigin="anonymous"> -->
</head>

<body>

    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <video id="videoPlayer" width="320" height="240" controls>
                    <source id="videoSource" src="<%= videoPath %>" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>

    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5YS3MxNbQubdjjZf/jJIk9ij2r3s0eCxNQ6j70uKx7sTKCwF+txId8oZ5smmD3S" crossorigin="anonymous"></script> -->

</body>

</html>
